.DS_Store
centos7/.vagrant/machines/default/virtualbox/action_set_name
centos7/.vagrant/machines/default/virtualbox/creator_uid
centos7/.vagrant/machines/default/virtualbox/id
centos7/.vagrant/machines/default/virtualbox/index_uuid
centos7/.vagrant/machines/default/virtualbox/private_key
centos7/.vagrant/machines/default/virtualbox/vagrant_cwd
centos7/.vagrant/rgloader/loader.rb
centos7/.vagrant/machines/default/virtualbox/action_provision
centos7/.vagrant/machines/default/virtualbox/box_meta
centos7/.vagrant/machines/default/virtualbox/synced_folders
